<script src="/Scripts/mustache.js"></script>
<script src="/Scripts/jquery-1.8.2.js"></script>
@model IEnumerable<EBuy.Models.Auction>

<h2>Auctions</h2>

<ul class="auctions">
    @foreach (var auction in Model) { 
        <li class="auction" data-key="@auction.id">
            <a href="javascript:void(0);">
                <img src="@auction.ImageUrl"/>
                <span>@auction.Title</span>
            </a>
        </li>
    }
</ul>
<section id="auction-details">
    @Html.Partial("Auction", Model.First())
 </section>

<script id="auction-template" type="text/x-template">
    <div class="Title" >{{Title}}</div>
    <div class="overview">
        <img src="{{ImageUrl}}" alt="{{Title}}"/>
        <p>
            <strong>CurrentPrice:</strong>
            <span class="current-price">{{CurrentPrice}}</span>
        </p>
    </div>
    <h3>Description</h3>
    <div class="description">
        {{Description}}
    </div>
</script>

<script type="text/javascript">
    $(function () {
        var source = $("#auction-template").html();
        $(".auction").click(function () {
            var auctionId = $(this).data("key");
            $.ajax({
                url: '@Url.Action("Auction","Auctions")/' + auctionId+"?format=json",
                success: function (auction) {
                    alert(auction);
                    var html = Mustache.render(source, auction);
                    $("#auction-details").html(html);
                },
                error: function (e) {
                    alert(e.responseText);
                }
            });
        });
    });
</script>