@model EBuy.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";    
}

<hgroup>
    <h1>@ViewBag.Title</h1>
    <h2>Change Password in the fllowing form</h2>
</hgroup>
<fieldset>
    
    <legend>Change Password Form</legend>
    @using (Html.BeginForm()) { 
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <ol>
            <li>
                @Html.LabelFor(m=>m.OldPassword)
                @Html.PasswordFor(m=>m.OldPassword)
                @Html.ValidationMessageFor(m=>m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m=>m.NewPassword)
                @Html.PasswordFor(m=>m.NewPassword)
                @Html.ValidationMessageFor(m=>m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m=>m.ConfirmPassword)
                @Html.PasswordFor(m=>m.ConfirmPassword)
                @Html.ValidationMessageFor(m=>m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="ChangePassword"/>
    }
</fieldset>

@section Scripts{
    @Scripts.Render("~/bundle/jqueryval")    
}